<mat-horizontal-stepper labelPosition="bottom" #stepper (selectionChange)="changeStep($event)">
  <mat-step *ngFor="let s of steps">
    <ng-template matStepLabel>{{s}}</ng-template>
  </mat-step>
</mat-horizontal-stepper>

<ng-container [ngSwitch]="stepperIndex">
  <div class="d-flex justify-content-between align-items-center page-content" *ngSwitchCase="0">
    <div class="pl-10 pr-5">
      <h2 class="page-title">Estimating<br>the Permanent<br>Population</h2>
    </div>
    <app-rect-pack 
      id="chart0" 
      [data]="civisList" 
      class="flex-1">
    </app-rect-pack>
  </div>

  <div class="d-flex justify-content-between align-items-center page-content" *ngSwitchCase="1">
    <div class="pl-10">
      <h2 class="page-title">Street List<br>Register of Nantucketers<br>Updated Annually</h2>
      <div class="d-flex page-sub-title">
        <mat-icon class="red">brightness_1</mat-icon>
        <span>Street List (Female)</span>
      </div>
      <div class="d-flex page-sub-title">
        <mat-icon class="green">brightness_1</mat-icon>
        <span>Street List (Male)</span>
      </div>
    </div>
    <app-circle-pack 
      id="chart1" 
      radius="8" 
      [data]="streetList" 
      titleStroke="#ed6d68" 
      title="NANTUCKET  STREET LIST  {{getNumberOfList(streetList)}}" 
      class="flex-1">
    </app-circle-pack>
  </div>

  <div class="d-flex justify-content-between page-content" *ngSwitchCase="2">
    <div class="pl-10 mt-10">
      <h2 class="page-title"><strong>Civis Adults</strong><br>250 million</h2>
      <div class="d-flex page-sub-title">
        <mat-icon class="pink">brightness_1</mat-icon>
        <span>Civis (Female)</span>
      </div>
      <div class="d-flex page-sub-title">
        <mat-icon class="blue">brightness_1</mat-icon>
        <span>Civis (Male)</span>
      </div>
    </div>
    <app-circle-pack 
      id="chart2"
      [data]="civisList"
      radius="8" 
      class="flex-1">
    </app-circle-pack>
  </div>

  <div class="page-content" *ngSwitchCase="3">
    <div class="text-center position-absolute" [style.left]="'15%'">
      <h2 class="page-title position-relative">CIVIS<br>NANTUCKETERS<br>{{getNumberOfList(civisTotalList.left)}}</h2>
    </div>
    <app-double-circle-pack
      id="chart4"
      [data]="civisTotalList"
      rightStroke="#ec98cb"
      totalPosition="right"
      rightTitle="CIVIS  NANTUCKETERS  NOT!"
      class="position-absolute w-100">
    </app-double-circle-pack>
  </div>

  <div class="d-flex justify-content-between page-content" *ngSwitchCase="4">
    <app-circle-pack 
      id="chart5" 
      radius="20"
      titleStroke="#ec98cb"
      [data]="civisTotalList.left" 
      title="CIVIS  NANTUCKETERS  {{getNumberOfList(civisTotalList.left)}}" 
      class="flex-1">
    </app-circle-pack>
  </div>

  <div class="d-flex justify-content-between page-content" *ngSwitchCase="5">
    <app-double-circle-pack 
      id="chart6" 
      [data]="civisAndStreetTotalList" 
      leftStroke="#ec98cb" 
      rightStroke="#ed6d68" 
      totalStroke="#ec98cb" 
      totalRadius="20"
      leftRadius="15"
      leftFontSize="35"
      totalPosition="center"
      totalTitle="CIVIS  NANTUCKETERS  {{getNumberOfList(civisTotalList.left)}}" 
      leftTitle="CIVIS  NANTUCKETERS  {{getNumberOfList(civisList)}}"
      rightTitle="NANTUCKET  STREET LIST  {{getNumberOfList(streetList)}}" 
      class="position-absolute w-100">
    </app-double-circle-pack>
  </div>

  <div class="d-flex justify-content-between page-content align-items-center" *ngSwitchCase="6">
    <div class="pl-5">
      <div class="d-flex page-sub-title">
        <mat-icon class="pink">brightness_1</mat-icon>
        <span>Civis (Female)</span>
      </div>
      <div class="d-flex page-sub-title">
        <mat-icon class="blue">brightness_1</mat-icon>
        <span>Civis (Male)</span>
      </div>
      <div class="d-flex page-sub-title">
        <mat-icon class="red">brightness_1</mat-icon>
        <span>Street List (Female)</span>
      </div>
      <div class="d-flex page-sub-title">
        <mat-icon class="green">brightness_1</mat-icon>
        <span>Street List (Male)</span>
      </div>
    </div>
    <app-circle-pack 
      id="chart8" 
      titleStroke="#ec98cb"
      [data]="civisStreetList" 
      title="ADULTS  {{getNumberOfList(civisStreetList)}}" 
      class="flex-1">
    </app-circle-pack>
  </div>

  <div class="d-flex justify-content-between page-content align-items-center" *ngSwitchCase="7">
    <app-double-circle-pack 
      id="chart9" 
      [data]="childList" 
      leftStroke="#ec98cb" 
      rightStroke="#f6a15a" 
      totalStroke="#ec98cb" 
      totalPosition="center"
      totalTitle="ADULTS  {{getNumberOfList(childList.left)}}" 
      class="position-absolute w-100">
    </app-double-circle-pack>
    <div class="text-center position-absolute" [style.right]="'20%'" [style.margin-top]="'-200px'">
      <h2 class="page-title position-relative text-uppercase flex-1 d-flex align-items-end justify-content-center">Children<br>{{getNumberOfList(childList.right)}}</h2>
    </div>
  </div>

  <div class="d-flex justify-content-between page-content align-items-center" *ngSwitchCase="8">
    <app-double-circle-pack 
      id="chart10" 
      [data]="foreignList" 
      leftStroke="#ec98cb" 
      rightStroke="#f6a15a" 
      totalStroke="#ec98cb" 
      totalPosition="center"
      class="position-absolute w-100">
    </app-double-circle-pack>
    <div class="text-center position-absolute" [style.right]="'20%'" [style.margin-top]="'-200px'">
      <h2 class="page-title position-relative text-uppercase flex-1 d-flex align-items-end justify-content-center">Foreign<br>nationals<br>{{getNumberOfList(foreignList.right)}}</h2>
    </div>
  </div>

  <div class="d-flex justify-content-between page-content align-items-center" *ngSwitchCase="9">
    <div class="pl-5">
      <div class="d-flex page-sub-title">
        <mat-icon class="grey">brightness_1</mat-icon>
        <span>Foreign Nationals</span>
      </div>
      <div class="d-flex page-sub-title">
        <mat-icon class="pink">brightness_1</mat-icon>
        <span>Civis (Female)</span>
      </div>
      <div class="d-flex page-sub-title">
        <mat-icon class="blue">brightness_1</mat-icon>
        <span>Civis (Male)</span>
      </div>
      <div class="d-flex page-sub-title">
        <mat-icon class="orange">brightness_1</mat-icon>
        <span>Children</span>
      </div>
      <div class="d-flex page-sub-title">
        <mat-icon class="red">brightness_1</mat-icon>
        <span>Street List (Female)</span>
      </div>
      <div class="d-flex page-sub-title">
        <mat-icon class="green">brightness_1</mat-icon>
        <span>Street List (Male)</span>
      </div>
    </div>
    <app-circle-pack 
      id="chart11" 
      [data]="totalList" 
      class="flex-1">
    </app-circle-pack>
    <div class="pr-5 text-right">
      <h2 class="page-title text-uppercase">Permanent<br>residents<br>{{getNumberOfList(totalList)}}</h2>
    </div>
  </div>
</ng-container>