.page-content {
    height: calc(100vh - 105px - 24px);
}
.page-title {
    color: rgba($color: blue, $alpha: 0.5);
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.red {
    color: rgba($color: red, $alpha: 0.5);
}
.pink {
    color: rgba($color: deeppink, $alpha: 0.5);
}
.green {
    color: rgba($color: green, $alpha: 0.5);
}
.blue {
    color: rgba($color: blue, $alpha: 0.5);
}
.grey {
    color: rgba($color: grey, $alpha: 0.5);
}
.orange {
    color: rgba($color: orange, $alpha: 0.5);
}
.page-sub-title {
    margin: 15px 0;

    span {
        font-size: 28px;
    }
    mat-icon {
        font-size: 36px;
        width: 36px;
        height: 36px;
        margin-right: 10px;
    }
}
