.page-content {
    height: calc(100vh - 105px - 24px);
}
.page-title {
    color: #3091d7;
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.red {
    color: #ed6d68;
}
.pink {
    color: #ec98cb;
}
.green {
    color: #75c46c;
}
.blue {
    color: #3091d7;
}
.grey {
    color: #81bab5;
}
.orange {
    color: #f6a15a;
}
.page-sub-title {
    margin: 15px 0;

    span {
        font-size: 28px;
    }
    mat-icon {
        font-size: 36px;
        width: 36px;
        height: 36px;
        margin-right: 10px;
    }
}
